@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body{
  font-size: 2rem;
}
body {
  background: linear-gradient(190deg, #E73C7E,#EE7752, #23D5AB, #23A6D5,  #000);
  color: black;
  background-attachment: fixed;
  background-position: 0% 80%;
  background-size: 100% 500%;
  font-family: 'Avenir', sans-serif;
  transition: all .5s ease-out;
  animation: fade-in ease 0.8s forwards;

}

main {

  h1 {
    text-align: center;
    margin:0;
  }
  .converter {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    .selector {
      display:flex;
      justify-content: space-around;
      p {
        border: 2px solid black;
        padding: 10px;
        color: black;
        background: transparent;
        &.selected {
          background: black;
          color: white;
        }
      }
    }
    .input-container {
      display:flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 40px;
      input {
        width:80%;
        padding: 5px;
        font-size: 1em;
        border: 1px solid black;
      }

    }
    button {
      font-size: 1em;
      border: 2px solid black;
      padding: 10px;
      color: black;
      background: transparent;
      &:active {
        background: black;
          color: white;
      }
    }
  }
}